{{ template "title" "About" }}
<article>
    <h2>About Page</h2>
    <p>This is the about page. Learn more about us here.</p>

    <div hx-ext="morphdom-swap" hx-get="/showgraph"
         hx-trigger="load, every 5s" hx-target="this" hx-swap="innerHTML">
    </div>


</article>
    