{{ template "title" "About" }}
<article>
    <h2>About Page</h2>
    <p>This is the about page. Learn more about us here.</p>

    <div hx-ext="morphdom-swap" hx-get="/graph"
         hx-trigger="load, every 5s" hx-target="this" style="width: 600px; height: 300px;">
    </div>


</article>
    