<article>
    <h2>Admin Page</h2>
    <p>This is the super secret admin page. Only authorized users should be here.</p>
    <button hx-get="/randommessage" hx-target="#random-message">Get next message</button>
    <h1 id="random-message"></h1>
</article>
    